@tailwind base;
@tailwind components;
@tailwind utilities;



.contenedor ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite; 
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border:2px;
  border-color: #105369;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}  

.jana-image{
  background-image: url(./assets/jana.png);
}
.kassya-image{
  background-image: url(./assets/kassya.png);
}
.tasky-image{
  background-image: url(./assets/tasky.jpg);
}
.leangineers-image{
  background-image: url(./assets/leangineers.png);
}
.foto {
  background-image: url(./assets/foto.png);
  
}
